@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Vazirmatn-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Vazirmatn-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Vazirmatn-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Vazirmatn-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Vazirmatn-Black.ttf") format("ttf");
}
